In [66]:
import pandas as pd
import numpy as np
import requests
import matplotlib.pyplot as plt
import seaborn as sns

In [67]:
constant_patch = '11.23.1'

# 라이엇 개발자 페이지에서 최신 버전 한국 서버 챔피언 정보 가져오기
champion_info = requests.get("http://ddragon.leagueoflegends.com/cdn/" + constant_patch + "/data/ko_KR/champion.json").json()

In [68]:
# 챔피언 정보 => DataFrame으로 변환
# champion_df는 'key'로 id값, 'name'으로 챔피언 한국어 이름을 가지는 156rows짜리 DataFrame
champion_df = pd.DataFrame(champion_info['data']).T[['key', 'name']]

# champion_df의 'key' column string => numeric 변환
champion_df['key'] = pd.to_numeric(champion_df['key'])

In [69]:
df = pd.read_csv('BIPA_data.csv', index_col=0)

In [70]:
df = df.merge(champion_df, how = 'left', left_on = 'championId', right_on = 'key')

In [71]:
data = pd.DataFrame()
data = df[['tierRank', 'position', 'name', 'result']]

In [72]:
# 결측치 드랍
data = data.dropna(axis=0)
# 다시하기 드랍
data.drop(data.loc[data['result']=='UNKNOWN'].index, inplace=True)
print('data : ', len(data))

data :  963577

In [73]:
# result 숫자로 변환
data.loc[data['result'] == 'WIN', 'result'] = 1
data.loc[data['result'] == 'LOSE', 'result'] = 0
data['games'] = 1
data = data.astype({'result' : 'int'})
# result -> wins로 컬럼명 변경
data.rename(columns = {'result':'wins'},inplace=True)

In [74]:
# 티어별 데이터 프레임 생성
TierList = ['IRON', 'BRONZE', 'SILVER', 'GOLD', 'PLATINUM', 'DIAMOND',
        'MASTER', 'GRAND_MASTER','CHALLENGER']
TierFront = ['I', 'B', 'S', 'G', 'P', 'D', 'M', 'G', 'C']

for i, j in zip(TierList, TierFront) :
    globals()[f'{i}'] = data[data['tierRank'].str.contains(f'{j}')]

m_list = ['M', 'R', 'C']
m_list = '|'.join(m_list)
ABOVE_MASTER = data[data['tierRank'].str.contains(m_list)]
print('MASTER+ : ', len(ABOVE_MASTER))

print('SUM : ', len(IRON)+len(BRONZE)+len(SILVER)+len(GOLD)+len(PLATINUM)+len(DIAMOND)+len(ABOVE_MASTER))

MASTER+ :  3876
SUM :  963577

In [75]:
# 티어별-포지션별 승률, 픽률

IRON_total = IRON.groupby(['position', 'name'], as_index=False).sum()
IRON_sum = IRON.groupby(['position'], as_index=False).sum()
IRON_sum.columns = ['position', 'wins', 'total_games']
IRON_sum = IRON_sum[['position', 'total_games']]
IRON_total = IRON_total.merge(IRON_sum, how = 'left', on = 'position')
IRON_total = IRON_total[IRON_total.games > 50]
IRON_total['winRate'] = IRON_total['wins'] / IRON_total['games']
IRON_total['pickRate'] = IRON_total['games'] / IRON_total['total_games']
IRON_total = IRON_total.sort_values(by=['position', 'winRate', 'pickRate'], ascending=False) 

BRONZE_total = BRONZE.groupby(['position', 'name'], as_index=False).sum()
BRONZE_sum = BRONZE.groupby(['position'], as_index=False).sum()
BRONZE_sum.columns = ['position', 'wins', 'total_games']
BRONZE_sum = BRONZE_sum[['position', 'total_games']]
BRONZE_total = BRONZE_total.merge(BRONZE_sum, how = 'left', on = 'position')
BRONZE_total = BRONZE_total[BRONZE_total.games > 50]
BRONZE_total['winRate'] = BRONZE_total['wins'] / BRONZE_total['games']
BRONZE_total['pickRate'] = BRONZE_total['games'] / BRONZE_total['total_games']
BRONZE_total = BRONZE_total.sort_values(by=['position', 'winRate', 'pickRate'], ascending=False) 

SILVER_total = SILVER.groupby(['position', 'name'], as_index=False).sum()
SILVER_sum = SILVER.groupby(['position'], as_index=False).sum()
SILVER_sum.columns = ['position', 'wins', 'total_games']
SILVER_sum = SILVER_sum[['position', 'total_games']]
SILVER_total = SILVER_total.merge(SILVER_sum, how = 'left', on = 'position')
SILVER_total = SILVER_total[SILVER_total.games > 50]
SILVER_total['winRate'] = SILVER_total['wins'] / SILVER_total['games']
SILVER_total['pickRate'] = SILVER_total['games'] / SILVER_total['total_games']
SILVER_total = SILVER_total.sort_values(by=['position', 'winRate', 'pickRate'], ascending=False) 

GOLD_total = GOLD.groupby(['position', 'name'], as_index=False).sum()
GOLD_sum = GOLD.groupby(['position'], as_index=False).sum()
GOLD_sum.columns = ['position', 'wins', 'total_games']
GOLD_sum = GOLD_sum[['position', 'total_games']]
GOLD_total = GOLD_total.merge(GOLD_sum, how = 'left', on = 'position')
GOLD_total = GOLD_total[GOLD_total.games > 50]
GOLD_total['winRate'] = GOLD_total['wins'] / GOLD_total['games']
GOLD_total['pickRate'] = GOLD_total['games'] / GOLD_total['total_games']
GOLD_total = GOLD_total.sort_values(by=['position', 'winRate', 'pickRate'], ascending=False) 

PLATINUM_total = PLATINUM.groupby(['position', 'name'], as_index=False).sum()
PLATINUM_sum = PLATINUM.groupby(['position'], as_index=False).sum()
PLATINUM_sum.columns = ['position', 'wins', 'total_games']
PLATINUM_sum = PLATINUM_sum[['position', 'total_games']]
PLATINUM_total = PLATINUM_total.merge(PLATINUM_sum, how = 'left', on = 'position')
PLATINUM_total = PLATINUM_total[PLATINUM_total.games > 50]
PLATINUM_total['winRate'] = PLATINUM_total['wins'] / PLATINUM_total['games']
PLATINUM_total['pickRate'] = PLATINUM_total['games'] / PLATINUM_total['total_games']
PLATINUM_total = PLATINUM_total.sort_values(by=['position', 'winRate', 'pickRate'], ascending=False) 

DIAMOND_total = DIAMOND.groupby(['position', 'name'], as_index=False).sum()
DIAMOND_sum = DIAMOND.groupby(['position'], as_index=False).sum()
DIAMOND_sum.columns = ['position', 'wins', 'total_games']
DIAMOND_sum = DIAMOND_sum[['position', 'total_games']]
DIAMOND_total = DIAMOND_total.merge(DIAMOND_sum, how = 'left', on = 'position')
DIAMOND_total = DIAMOND_total[DIAMOND_total.games > 50]
DIAMOND_total['winRate'] = DIAMOND_total['wins'] / DIAMOND_total['games']
DIAMOND_total['pickRate'] = DIAMOND_total['games'] / DIAMOND_total['total_games']
DIAMOND_total = DIAMOND_total.sort_values(by=['position', 'winRate', 'pickRate'], ascending=False) 

MASTER_total = MASTER.groupby(['position', 'name'], as_index=False).sum()
MASTER_sum = MASTER.groupby(['position'], as_index=False).sum()
MASTER_sum.columns = ['position', 'wins', 'total_games']
MASTER_sum = MASTER_sum[['position', 'total_games']]
MASTER_total = MASTER_total.merge(MASTER_sum, how = 'left', on = 'position')
MASTER_total['winRate'] = MASTER_total['wins'] / MASTER_total['games']
MASTER_total['pickRate'] = MASTER_total['games'] / MASTER_total['total_games']
MASTER_total = MASTER_total.sort_values(by=['position', 'winRate', 'pickRate'], ascending=False) 

GRAND_MASTER_total = GRAND_MASTER.groupby(['position', 'name'], as_index=False).sum()
GRAND_MASTER_sum = GRAND_MASTER.groupby(['position'], as_index=False).sum()
GRAND_MASTER_sum.columns = ['position', 'wins', 'total_games']
GRAND_MASTER_sum = GRAND_MASTER_sum[['position', 'total_games']]
GRAND_MASTER_total = GRAND_MASTER_total.merge(GRAND_MASTER_sum, how = 'left', on = 'position')
GRAND_MASTER_total['winRate'] = GRAND_MASTER_total['wins'] / GRAND_MASTER_total['games']
GRAND_MASTER_total['pickRate'] = GRAND_MASTER_total['games'] / GRAND_MASTER_total['total_games']
GRAND_MASTER_total = GRAND_MASTER_total.sort_values(by=['position', 'winRate', 'pickRate'], ascending=False) 

CHALLENGER_total = CHALLENGER.groupby(['position', 'name'], as_index=False).sum()
CHALLENGER_sum = CHALLENGER.groupby(['position'], as_index=False).sum()
CHALLENGER_sum.columns = ['position', 'wins', 'total_games']
CHALLENGER_sum = CHALLENGER_sum[['position', 'total_games']]
CHALLENGER_total = CHALLENGER_total.merge(CHALLENGER_sum, how = 'left', on = 'position')
CHALLENGER_total['winRate'] = CHALLENGER_total['wins'] / CHALLENGER_total['games']
CHALLENGER_total['pickRate'] = CHALLENGER_total['games'] / CHALLENGER_total['total_games']
CHALLENGER_total = CHALLENGER_total.sort_values(by=['position', 'winRate', 'pickRate'], ascending=False) 

ABOVE_MASTER_total = ABOVE_MASTER.groupby(['position', 'name'], as_index=False).sum()
ABOVE_MASTER_sum = ABOVE_MASTER.groupby(['position'], as_index=False).sum()
ABOVE_MASTER_sum.columns = ['position', 'wins', 'total_games']
ABOVE_MASTER_sum = ABOVE_MASTER_sum[['position', 'total_games']]
ABOVE_MASTER_total = ABOVE_MASTER_total.merge(ABOVE_MASTER_sum, how = 'left', on = 'position')
ABOVE_MASTER_total = ABOVE_MASTER_total[ABOVE_MASTER_total.games > 50]
ABOVE_MASTER_total['winRate'] = ABOVE_MASTER_total['wins'] / ABOVE_MASTER_total['games']
ABOVE_MASTER_total['pickRate'] = ABOVE_MASTER_total['games'] / ABOVE_MASTER_total['total_games']
ABOVE_MASTER_total = ABOVE_MASTER_total.sort_values(by=['position', 'winRate', 'pickRate'], ascending=False)

In [76]:
GOLD_TOP = GOLD_total[GOLD_total['position'] == 'T'].sort_values(by=['pickRate'], ascending=False).head(20)
GOLD_JUG = GOLD_total[GOLD_total['position'] == 'J'].sort_values(by=['pickRate'], ascending=False).head(20)
GOLD_MID = GOLD_total[GOLD_total['position'] == 'M'].sort_values(by=['pickRate'], ascending=False).head(20)
GOLD_AD = GOLD_total[GOLD_total['position'] == 'A'].sort_values(by=['pickRate'], ascending=False).head(20)
GOLD_SUP = GOLD_total[GOLD_total['position'] == 'S'].sort_values(by=['pickRate'], ascending=False).head(20)

In [77]:
# IRON_TOP = IRON_total[IRON_total['position'] == 'T'].sort_values(by=['pickRate'], ascending=False).head(10)
# BRONZE_TOP = BRONZE_total[BRONZE_total['position'] == 'T'].sort_values(by=['pickRate'], ascending=False).head(10)
# SILVER_TOP = SILVER_total[SILVER_total['position'] == 'T'].sort_values(by=['pickRate'], ascending=False).head(10)
# GOLD_TOP = GOLD_total[GOLD_total['position'] == 'T'].sort_values(by=['pickRate'], ascending=False).head(10)
# PLATINUM_TOP = PLATINUM_total[PLATINUM_total['position'] == 'T'].sort_values(by=['pickRate'], ascending=False).head(10)
# DIAMOND_TOP = DIAMOND_total[DIAMOND_total['position'] == 'T'].sort_values(by=['pickRate'], ascending=False).head(10)
# MASTER_TOP = MASTER_total[MASTER_total['position'] == 'T'].sort_values(by=['pickRate'], ascending=False).head(10)
# GRAND_MASTER_TOP = GRAND_MASTER_total[GRAND_MASTER_total['position'] == 'T'].sort_values(by=['pickRate'], ascending=False).head(10)
# CHALLENGER_TOP = CHALLENGER_total[CHALLENGER_total['position'] == 'T'].sort_values(by=['pickRate'], ascending=False).head(10)
# ABOVE_MASTER_TOP = ABOVE_MASTER_total[ABOVE_MASTER_total['position'] == 'T'].sort_values(by=['pickRate'], ascending=False).head(10)

In [78]:
P = ['T','J', 'M','A','S']
line = ['TOP', 'JUG', 'MID', 'AD', 'SUP']
tier = ['IRON', 'BRONZE', 'SILVER', 'GOLD', 'PLATINUM', 'DIAMOND', 'MASTER', 'GRAND_MASTER','CHALLENGER', 'ABOVE_MASTER']
for i in tier:
    for j, k in zip(line, P):
        a = globals()[f'{i}_total']
        globals()[f'{i}_{j}'] = a[a['position'] == f'{k}'].sort_values(by=['pickRate'], ascending=False).head(10)

In [79]:
data = pd.read_csv('json_champ.csv', index_col=0)

In [91]:
json_champ = data.merge(champion_df, how = 'left', left_on = 'championId', right_on = 'key')

In [92]:
json_champ

,name_x,style,difficulty,damageType,damage,durability,crowdControl,mobility,utility,roles,key,name_y
0,Gwen,5,2,kMagic,3,2,1,3,1,"['fighter', 'assassin']",887,그웬
1,Lillia,8,3,kMagic,3,1,2,2,2,"['fighter', 'mage']",876,릴리아
2,Sett,4,2,kPhysical,2,2,2,2,1,"['fighter', 'tank']",875,세트
3,Yone,5,3,kMixed,3,1,2,3,1,"['assassin', 'fighter']",777,요네
4,Vex,9,2,kMagic,3,2,2,2,1,['mage'],711,벡스
...,...,...,...,...,...,...,...,...,...,...,...,...
152,Xin Zhao,4,1,kPhysical,2,2,2,2,1,"['fighter', 'assassin']",5,신 짜오
153,Twisted Fate,7,2,kMagic,3,1,2,2,2,['mage'],4,트위스티드 페이트
154,Galio,10,2,kMagic,2,3,3,2,1,"['tank', 'mage']",3,갈리오
155,Olaf,4,2,kPhysical,2,2,2,1,1,"['fighter', 'tank']",2,올라프
156,Annie,10,1,kMagic,3,1,3,1,2,['mage'],1,애니

In [93]:
json_champ['name_x'] = json_champ['name_y']

In [94]:
json_champ = json_champ.iloc[:,0:11]

In [95]:
json_champ

,name_x,style,difficulty,damageType,damage,durability,crowdControl,mobility,utility,roles,key
0,그웬,5,2,kMagic,3,2,1,3,1,"['fighter', 'assassin']",887
1,릴리아,8,3,kMagic,3,1,2,2,2,"['fighter', 'mage']",876
2,세트,4,2,kPhysical,2,2,2,2,1,"['fighter', 'tank']",875
3,요네,5,3,kMixed,3,1,2,3,1,"['assassin', 'fighter']",777
4,벡스,9,2,kMagic,3,2,2,2,1,['mage'],711
...,...,...,...,...,...,...,...,...,...,...,...
152,신 짜오,4,1,kPhysical,2,2,2,2,1,"['fighter', 'assassin']",5
153,트위스티드 페이트,7,2,kMagic,3,1,2,2,2,['mage'],4
154,갈리오,10,2,kMagic,2,3,3,2,1,"['tank', 'mage']",3
155,올라프,4,2,kPhysical,2,2,2,1,1,"['fighter', 'tank']",2
156,애니,10,1,kMagic,3,1,3,1,2,['mage'],1

In [96]:
json_champ

,name_x,style,difficulty,damageType,damage,durability,crowdControl,mobility,utility,roles,key
0,그웬,5,2,kMagic,3,2,1,3,1,"['fighter', 'assassin']",887
1,릴리아,8,3,kMagic,3,1,2,2,2,"['fighter', 'mage']",876
2,세트,4,2,kPhysical,2,2,2,2,1,"['fighter', 'tank']",875
3,요네,5,3,kMixed,3,1,2,3,1,"['assassin', 'fighter']",777
4,벡스,9,2,kMagic,3,2,2,2,1,['mage'],711
...,...,...,...,...,...,...,...,...,...,...,...
152,신 짜오,4,1,kPhysical,2,2,2,2,1,"['fighter', 'assassin']",5
153,트위스티드 페이트,7,2,kMagic,3,1,2,2,2,['mage'],4
154,갈리오,10,2,kMagic,2,3,3,2,1,"['tank', 'mage']",3
155,올라프,4,2,kPhysical,2,2,2,1,1,"['fighter', 'tank']",2
156,애니,10,1,kMagic,3,1,3,1,2,['mage'],1

In [ ]:
# IRON_TOP = IRON_TOP.merge(json_champ, how = 'left', left_on = 'name', right_on = 'name_x')
# BRONZE_TOP = BRONZE_TOP.merge(json_champ, how = 'left', left_on = 'name', right_on = 'name_x')
# SILVER_TOP = SILVER_TOP.merge(json_champ, how = 'left', left_on = 'name', right_on = 'name_x')
# GOLD_TOP = GOLD_TOP.merge(json_champ, how = 'left', left_on = 'name', right_on = 'name_x')
# PLATINUM_TOP = IRON_TOP.merge(json_champ, how = 'left', left_on = 'name', right_on = 'name_x')
# DIAMOND_TOP = IRON_TOP.merge(json_champ, how = 'left', left_on = 'name', right_on = 'name_x')
# MASTER_TOP = IRON_TOP.merge(json_champ, how = 'left', left_on = 'name', right_on = 'name_x')
# GRAND_MASTER_TOP = IRON_TOP.merge(json_champ, how = 'left', left_on = 'name', right_on = 'name_x')
# CHALLENGER_TOP = CHALLENGER_TOP.merge(json_champ, how = 'left', left_on = 'name', right_on = 'name_x')
# ABOVE_MASTER_TOP = ABOVE_MASTER_TOP.merge(json_champ, how = 'left', left_on = 'name', right_on = 'name_x')

In [97]:
line = ['TOP', 'JUG', 'MID', 'AD', 'SUP']
tier = ['IRON', 'BRONZE', 'SILVER', 'GOLD', 'PLATINUM', 'DIAMOND', 'MASTER', 'GRAND_MASTER','CHALLENGER', 'ABOVE_MASTER']
for j in line:
    for i in tier:
        globals()[f'{i}_{j}'] = globals()[f'{i}_{j}'].merge(json_champ, how = 'left', left_on = 'name', right_on = 'name_x')

In [ ]:
# IRON_TOP_mean = IRON_TOP.mean()[5:12]
# BRONZE_TOP_mean = BRONZE_TOP.mean()[5:12]
# SILVER_TOP_mean = SILVER_TOP.mean()[5:12]
# GOLD_TOP_mean = GOLD_TOP.mean()[5:12]
# PLATINUM_TOP_mean = PLATINUM_TOP.mean()[5:12]
# DIAMOND_TOP_mean = DIAMOND_TOP.mean()[5:12]
# MASTER_TOP_mean = MASTER_TOP.mean()[5:12]
# GRAND_MASTER_TOP_mean = GRAND_MASTER_TOP.mean()[5:12]
# CHALLENGER_TOP_mean = CHALLENGER_TOP.mean()[5:12]
# ABOVE_MASTER_TOP_mean = ABOVE_MASTER_TOP.mean()[5:12]

In [98]:
line = ['TOP', 'JUG', 'MID', 'AD', 'SUP']
tier = ['IRON', 'BRONZE', 'SILVER', 'GOLD', 'PLATINUM', 'DIAMOND', 'MASTER', 'GRAND_MASTER','CHALLENGER', 'ABOVE_MASTER']
for j in line:
    for i in tier:
        globals()[f'{i}_{j}_mean'] = globals()[f'{i}_{j}'].mean()[5:12]

C:\Users\Mgyu\AppData\Local\Temp/ipykernel_25076/483849125.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  globals()[f'{i}_{j}_mean'] = globals()[f'{i}_{j}'].mean()[5:12]

In [105]:
IRON_TOP

,position,name,wins,games,total_games,winRate,pickRate,name_x,style,difficulty,damageType,damage,durability,crowdControl,mobility,utility,roles,key,weighted
0,T,세트,126,251,1885,0.501992,0.133156,세트,4,2,kPhysical,2,2,2,2,1,"['fighter', 'tank']",875,0.260644
1,T,다리우스,46,94,1885,0.489362,0.049867,다리우스,6,2,kPhysical,3,2,2,1,1,"['fighter', 'tank']",122,0.097612
2,T,가렌,45,94,1885,0.478723,0.049867,가렌,8,1,kPhysical,2,3,1,1,1,"['fighter', 'tank']",86,0.097612
3,T,레넥톤,39,84,1885,0.464286,0.044562,레넥톤,5,1,kPhysical,2,2,2,2,1,"['fighter', 'tank']",58,0.087227
4,T,이렐리아,35,84,1885,0.416667,0.044562,이렐리아,4,3,kMixed,2,2,2,3,2,"['fighter', 'assassin']",39,0.087227
5,T,오른,37,80,1885,0.462500,0.042440,오른,7,2,kMixed,1,3,3,1,2,"['tank', 'fighter']",516,0.083074
6,T,아트록스,33,74,1885,0.445946,0.039257,아트록스,3,2,kPhysical,3,3,2,2,2,"['fighter', 'tank']",266,0.076843
7,T,말파이트,37,69,1885,0.536232,0.036605,말파이트,8,1,kMagic,1,3,3,1,1,"['tank', 'fighter']",54,0.071651
8,T,모데카이저,37,69,1885,0.536232,0.036605,모데카이저,8,2,kMagic,3,2,1,1,2,['fighter'],82,0.071651
9,T,사일러스,27,64,1885,0.421875,0.033952,사일러스,7,3,kMagic,2,2,1,3,1,"['mage', 'assassin']",517,0.066459

In [ ]:
IRON_TOP['pickRate']/IRON_TOP['pickRate'].sum()

In [103]:
IRON_TOP['weighted'] = IRON_TOP['pickRate']/IRON_TOP['pickRate'].sum()

In [111]:
line = ['TOP', 'JUG', 'MID', 'AD', 'SUP']
tier = ['IRON', 'BRONZE', 'SILVER', 'GOLD', 'PLATINUM', 'DIAMOND', 'MASTER', 'GRAND_MASTER','CHALLENGER', 'ABOVE_MASTER']
value = ['difficulty','damage', 'durability', 'crowdControl', 'mobility', 'utility']
for j in line:
    for i in tier:
        globals()[f'{i}_{j}']['weighted'] = globals()[f'{i}_{j}']['pickRate']/globals()[f'{i}_{j}']['pickRate'].sum()

In [118]:
IRON_TOP

,position,name,wins,games,total_games,winRate,pickRate,name_x,style,difficulty,damageType,damage,durability,crowdControl,mobility,utility,roles,key,weighted
0,T,세트,126,251,1885,0.501992,0.133156,세트,4,2,kPhysical,2,2,2,2,1,"['fighter', 'tank']",875,0.260644
1,T,다리우스,46,94,1885,0.489362,0.049867,다리우스,6,2,kPhysical,3,2,2,1,1,"['fighter', 'tank']",122,0.097612
2,T,가렌,45,94,1885,0.478723,0.049867,가렌,8,1,kPhysical,2,3,1,1,1,"['fighter', 'tank']",86,0.097612
3,T,레넥톤,39,84,1885,0.464286,0.044562,레넥톤,5,1,kPhysical,2,2,2,2,1,"['fighter', 'tank']",58,0.087227
4,T,이렐리아,35,84,1885,0.416667,0.044562,이렐리아,4,3,kMixed,2,2,2,3,2,"['fighter', 'assassin']",39,0.087227
5,T,오른,37,80,1885,0.462500,0.042440,오른,7,2,kMixed,1,3,3,1,2,"['tank', 'fighter']",516,0.083074
6,T,아트록스,33,74,1885,0.445946,0.039257,아트록스,3,2,kPhysical,3,3,2,2,2,"['fighter', 'tank']",266,0.076843
7,T,말파이트,37,69,1885,0.536232,0.036605,말파이트,8,1,kMagic,1,3,3,1,1,"['tank', 'fighter']",54,0.071651
8,T,모데카이저,37,69,1885,0.536232,0.036605,모데카이저,8,2,kMagic,3,2,1,1,2,['fighter'],82,0.071651
9,T,사일러스,27,64,1885,0.421875,0.033952,사일러스,7,3,kMagic,2,2,1,3,1,"['mage', 'assassin']",517,0.066459

In [ ]:
def asd(x):

In [117]:
line = ['TOP', 'JUG', 'MID', 'AD', 'SUP']
tier = ['IRON', 'BRONZE', 'SILVER', 'GOLD', 'PLATINUM', 'DIAMOND', 'MASTER', 'GRAND_MASTER','CHALLENGER', 'ABOVE_MASTER']
value = ['difficulty','damage', 'durability', 'crowdControl', 'mobility', 'utility']
for j in line:
    for i in tier:
        for v in value:
            globals()[f'{i}_{j}'][globals()[f'W_{v}']] = globals()[f'{i}_{j}'][globals()[f'{v}']] * globals()[f'{i}_{j}']['weighted']
        

# IRON_TOP['W_difficulty'] = IRON_TOP['difficulty']*IRON_TOP['weighted']
# IRON_TOP['W_damage'] = IRON_TOP['damage']*IRON_TOP['weighted']
# IRON_TOP['W_damage'] = IRON_TOP['damage']*IRON_TOP['weighted']
# IRON_TOP['W_damage'] = IRON_TOP['damage']*IRON_TOP['weighted']
# IRON_TOP['W_damage'] = IRON_TOP['damage']*IRON_TOP['weighted']
# IRON_TOP['W_damage'] = IRON_TOP['damage']*IRON_TOP['weighted']
# IRON_TOP['W_damage'] = IRON_TOP['damage']*IRON_TOP['weighted']

KeyError: 'difficulty'

In [116]:
for v in value:
    GOLD_TOP[globals()[f'W_{v}']] = GOLD_TOP['difficulty'] * GOLD_TOP['weighted']

KeyError: 'W_difficulty'

In [114]:
GOLD_TOP

,position,name,wins,games,total_games,winRate,pickRate,name_x,style,difficulty,damageType,damage,durability,crowdControl,mobility,utility,roles,key,weighted
0,T,이렐리아,2115,4059,65392,0.521064,0.062072,이렐리아,4,3,kMixed,2,2,2,3,2,"['fighter', 'assassin']",39,0.147071
1,T,피오라,1971,3897,65392,0.505774,0.059594,피오라,3,3,kPhysical,3,2,2,2,2,"['fighter', 'assassin']",114,0.141201
2,T,세트,2000,3866,65392,0.517331,0.059120,세트,4,2,kPhysical,2,2,2,2,1,"['fighter', 'tank']",875,0.140078
3,T,카밀,1535,3047,65392,0.503774,0.046596,카밀,4,3,kPhysical,3,2,2,3,1,"['fighter', 'tank']",164,0.110403
4,T,탐 켄치,1410,2724,65392,0.517621,0.041656,탐 켄치,7,1,kMagic,2,3,2,1,3,"['support', 'tank']",223,0.098699
5,T,말파이트,1079,2156,65392,0.500464,0.032970,말파이트,8,1,kMagic,1,3,3,1,1,"['tank', 'fighter']",54,0.078119
6,T,제이스,1003,2033,65392,0.493360,0.031089,제이스,5,2,kPhysical,3,1,1,2,2,"['fighter', 'marksman']",126,0.073662
7,T,다리우스,1024,2016,65392,0.507937,0.030829,다리우스,6,2,kPhysical,3,2,2,1,1,"['fighter', 'tank']",122,0.073046
8,T,아트록스,902,1928,65392,0.467842,0.029484,아트록스,3,2,kPhysical,3,3,2,2,2,"['fighter', 'tank']",266,0.069858
9,T,레넥톤,888,1873,65392,0.474106,0.028643,레넥톤,5,1,kPhysical,2,2,2,2,1,"['fighter', 'tank']",58,0.067865

In [ ]:
IRON_TOP.sum()

In [ ]:
IRON_TOP_mean

In [ ]:
plt.figure(figsize=(12, 4)) 
fig, ax = plt.subplots(4, 3)

# ax[0, 0].plot(x, y1)
# ax[0, 1].plot(x, y2)
# ax[1, 0].plot(x, y3)
# ax[1, 1].plot(x,y4)

# ax[0, 0].set_title("Sine function")
# ax[0, 1].set_title("Cosine function")
# ax[1, 0].set_title("Sigmoid function")
# ax[1, 1].set_title("Exponential function")
# plt.subplot(131)
ratio = IRON_TOP_mean[2:7]
labels = IRON_TOP_mean[2:7].index
plt.title("IRON_TOP")
plt.pie(ratio, labels=labels, autopct='%.1f%%')
plt.subplot(132)
ratio = BRONZE_TOP_mean[2:7]
labels = BRONZE_TOP_mean[2:7].index
plt.title("BRONZE_TOP")
plt.pie(ratio, labels=labels, autopct='%.1f%%')
plt.subplot(133)
ratio = SILVER_TOP_mean[2:7]
labels = SILVER_TOP_mean[2:7].index
plt.title("SILVER_TOP")
plt.pie(ratio, labels=labels, autopct='%.1f%%')
plt.subplot(231)
ratio = SILVER_TOP_mean[2:7]
labels = SILVER_TOP_mean[2:7].index
plt.title("SILVER_TOP")
plt.pie(ratio, labels=labels, autopct='%.1f%%')

In [ ]:
ratio = CHALLENGER_TOP_mean[2:7]
labels = CHALLENGER_TOP_mean[2:7].index
plt.title("GOLD_TOP")
plt.pie(ratio, labels=labels, autopct='%.1f%%')
plt.show()

In [ ]:
Tier = ['IRON', 'BRONZE', 'SLIVER', 'GOLD', 'PLATINUM', 'DIAMOND', 'MASTER', 'GRAND_MASTER','CHALLENGER', 'ABOVE_MASTER']
line = ['TOP', 'JUG', 'MID', 'AD', 'SUP']
for j in line:
    globals()[f'{j}_difficulty'] = []
    for i in tier:
        globals()[f'{j}_difficulty'].append(globals()[f'{i}_{j}_mean'][1])

In [ ]:
JUG_difficulty

In [ ]:
TOP_difficulty = [IRON_TOP_mean[1], BRONZE_TOP_mean[1], SILVER_TOP_mean[1], GOLD_TOP_mean[1], PLATINUM_TOP_mean[1], DIAMOND_TOP_mean[1], MASTER_TOP_mean[1], GRAND_MASTER_TOP_mean[1], CHALLENGER_TOP_mean[1], ABOVE_MASTER_TOP_mean[1] ]
TOP_difficulty

In [ ]:
plt.figure(figsize= (20, 7))
plt.bar(Tier, TOP_difficulty)
plt.title("TOP_difficulty")
plt.show()

In [ ]:
plt.figure(figsize= (20, 7))
plt.bar(Tier, JUG_difficulty)
plt.title("JUG_difficulty")
plt.show()

In [ ]:
plt.figure(figsize= (20, 7))
plt.bar(Tier, MID_difficulty)
plt.title("MID_difficulty")
plt.show()

In [ ]:
plt.figure(figsize= (20, 7))
plt.bar(Tier, AD_difficulty)
plt.title("AD_difficulty")
plt.ylim(1,2)
plt.show()

In [ ]:
plt.figure(figsize= (20, 7))
plt.bar(Tier, SUP_difficulty)
plt.title("SUP_difficulty")
plt.ylim(1,2)
plt.show()